<div>
    <div>
        <a href="http://localhost:3000/products"> <button>Volver</button> </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
            </tr>
            
        </thead>
        <tbody>
            {{#each cart.product}}
                <tr>
                    <td>
                        {{this.idProduct.title}}
                    </td>
                    <td>{{this.quantity}}</td>
                    <td>${{this.idProduct.price}}</td>
                    <td>
                        <button onclick="eliminarProducto('{{this.idProduct._id}}','{{../cartid}}')">X</button>
                    </td>
                </tr>

              {{/each}}
        </tbody>
    </table>
    <div>
        <button onclick="ticket('{{cartid}}')" >Terminaar Compra</button>
        
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>