
<div class="header">
        <h2>Bienvenido {{user.nombre}}</h2>
        <p>Tu rol es {{user.rol}}</p>
        <a href="/api/sessions/logout"><button>Cerrar sesion</button></a>
</div>

<div>
    <form id="addProduct">
        <h3>Agregar Producto</h3>
        <div class="form-group">
            <label for="title">Nombre del Producto:</label>
            <input type="text" required id="title" name="title" placeholder="Ingrese el nombre">
        </div>
        <br>
        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" min="1" step="0.01" required id="price" name="price" placeholder="Ingrese el precio">
        </div>
        <br>
        <div class="form-group">
            <label for="code">Código:</label>
            <input type="text" required id="code" name="code" placeholder="Ingrese el código">
        </div>
        <br>
        <div class="form-group">
            <label for="stock">Stock:</label>
            <input type="number" min="1" required id="stock" name="stock" placeholder="Ingrese el stock">
        </div>
        <br>
        <div class="form-group">
            <label for="category">Categoría:</label>
            <input type="text" required id="category" name="category" placeholder="Ingrese la categoría">
        </div>
        <br>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea required id="description" name="description" placeholder="Ingrese la descripción"></textarea>
        </div>
        <br>
        <div class="form-group">
            <label>Status:</label>
            <input type="checkbox" name="status" id="status" value="true">
            <span>Activo</span>
        </div>
        <br>
        <div class="form-group">
            <label for="thumbnail">URL de la Imagen:</label>
            <input type="text" required id="thumbnail" name="thumbnail" placeholder="URL de la imagen">
        </div>
        <br>
        <div class="form-group">
            <label for="owner">Email del Dueño del Producto:</label>
            <input type="text" id="owner" name="owner" placeholder="Email del dueño del producto">
        </div>
        <br>
        <div class="form-group">
            <input class="btn-cargar" type="submit" value="Guardar">
        </div>
    </form>
</div>


<div>
    <div >
        <form id="formDelete" >
            <h3 >Eliminar Producto</h3>
            <input  id="deleteProd" name="deleteProd" placeholder="Ingrese el id">
            <input  type="submit" value="Eliminar">
        </form>
    </div>
</div>

<div class="conteiner">
    <h1>Lista Productos</h1>
    <table id="tableProduct" >
        <thead>
            <tr>
            <th >ID</th>
            <th >Nombre</th>
            <th >Precio</th>
            <th >Codigo</th>
            <th >Stock</th>
            <th >Categoria</th>
            <th >Descripcion</th>
            <th >Status</th>
            </tr>
        </thead>
        {{#each productos}}
            <tbody>
                <tr>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>{{this.description}}</td>
                <td>{{this.status}}</td>
                </tr>
            </tbody>
        {{/each}}
    </table>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>